body{
  background-color: antiquewhite ;
 

  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  margin:auto;
  width:800px;
  vertical-align: center;
  margin:0 auto;
  background-color: grey ;
  border: none ;
  border-radius : 10px ;
  padding: 20px ;
  height: 200px ;
  font-size: 15pt;
}
.ques{
  font-size : 18pt;
  font-weight: bold ;
}
.nxtBtn{
  position: relative ;
  right : 10px ;
  float: right;
  border:none ;
  font-size: 18pt ;
  background-color: darkgrey;
  color: #ffffff ;
  width: 80px ;
  height: 35px ;
}

.correct{
  background-color: darkolivegreen;
}

.incorrect{
  background-color: red;
}
.title{
  font-size: 20pt ;
  font-weight: bold ;
}